@model   PastaMVC.Models.Product


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@*@class = "form-horizontal", role = "form",*@
@using (Html.BeginForm("Create", "UrunCRUD", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
  
   

    <div class="form-group">
        <label class="col-md-3 control-label">Kategori Seç</label>
        <div class="col-md-2">
          @Html.DropDownListFor(model=>model.Kategoriid, ViewBag.Kategoriid as SelectList, "Kategori seç", new { @class = "form-control" ,required="" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Ürün Adı</label>
        <div class="col-md-8">
            @Html.EditorFor(model => model.ProductName, new { @class = "form-control" , required = "ürün adı bş geçilemez" } )

        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Resim Seç</label>
        <div class="col-md-3">
            <input type="file" id="inputFile" name="file" required="" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-3">
            <input type="submit" name="name" class="btn btn-success" value="Ekle " />
        </div>
    </div>




}